parameters:
	ignoreErrors:
		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/FileLinkQueueItem.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/Plugin/Validation/Constraint/LinkToFileConstraint.php
